/* avoid the original paddings and margins in <body> tag */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif TC', serif;
}

header {
    background-color: #c4c4c4;
    width: 100%;
    padding: 1rem;

}

nav {
    background-color: #3b383c;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding-left: 1.5rem;
}

nav ul li {
    /* turn descendants into flex, so that all anchors can be padded*/
    display: flex;
}

nav ul li a {
    /* padding: 上下 左右 */
    padding: 0.5rem 0.75rem;
    color: gray;
    text-decoration: none;
    transition: all 0.25s ease;
    font-size: 1.25rem;
}

nav ul li a:hover {
    background-color: pink;
}

h1.mainTitle {
    font-size: 3rem;
}

h3.headTitle {
    font-style: italic;
}

main {
    width: 100%;
    display: flex; 
    min-height: 76vh;
    background-image: url(./images/back.jpg);
}

section.left, section.right {
    padding: 1.5rem;
}

section.left {
    min-width: 70%;
}

section.right h2 {
     font-size: 3rem; 
     text-align: center;
     background-color: azure;
}

.active {
    color: beige;
}

span.spec {
    color: red;
}

section.right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.right p{
    margin: 1rem 0rem;
    font-size: 20px;
    border: 5px solid;
    border-color: red;

}

section.right p, section.right h2{
    background-color: wheat;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    background-color: cornflowerblue;
    padding: 1rem 1rem;
    font-size: 1.2rem;
    margin: auto;
  }

#footer a{
    color: brown;
}