<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>大哥大使用意見調查表</title>
    <style>
      body {
        border: 5px solid;
        border-color: red;
      }
    </style>
  </head>
  <body align="center">
    <h1>留言板</h1>
    <form method="GET" action="/ccu410410083">
      <u>姓名</u>：<input type="text" name="UserName" /><br />
      <u>E-Mail</u>：<input type="text" name="UserMail" /><br /><br /><br />
      <label for="User_suggestion"><u>欲發表內容</u></label>
      <br />
      <textarea
        name="User_suggestion"
        id="User_suggestion"
        cols="30"
        rows="10"
        placeholder="謝謝您的拜訪!"
      ></textarea>
      <br />
      <input type="submit" />
    </form>
  </body>
</html>
